# MongoDB Examples

#### Import of the pymongo distribution

In [1]:
import pymongo

#### Making a Connection with MongoClient

In [2]:
client = pymongo.MongoClient('localhost', 27017, username = "core", password = "654321")

#### List of all existing databases (you will get a different list)

In [3]:
client.list_database_names()

['admin',
 'brandinvestor',
 'brandinvestor4',
 'brandinvestor_test',
 'config',
 'core3dev',
 'core4dev',
 'database',
 'deichmann4',
 'dldemo',
 'local',
 'placetel',
 'salesadvisor',
 'test']

#### Instantiating a database object

In [4]:
db = client['db_test']

#### Instantianting a collection object

In [5]:
coll = db['coll_test']

#### Creation of a python dictionary

In [6]:
dic = {
       'first_name': 'Peter', 
       'last_name': 'Pan', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5}, 
      }

In [7]:
dic

{'first_name': 'Peter',
 'last_name': 'Pan',
 'age': 26,
 'gender': 'm',
 'ages_of_children': [10, 12],
 'grades': {'skiing': 1, 'biking': 5}}

#### Insertion of the data into mongo collection - Creation of a document within mongodb

In [8]:
coll.insert_one(dic)

#### Count the documents within the collection

In [9]:
coll.count_documents({})

1

#### Find the document within the mongo collection

In [10]:
dic_new = coll.find_one({})

In [11]:
dic_new

{'_id': ObjectId('61c2eb5e324ee292764b7fb4'),
 'first_name': 'Peter',
 'last_name': 'Pan',
 'age': 26,
 'gender': 'm',
 'ages_of_children': [10, 12],
 'grades': {'skiing': 1, 'biking': 5}}

#### Deletion of all documents within the collection

In [12]:
coll.delete_many({})

#### Make sure the collection is empty

In [13]:
coll.count_documents({})

0

In [14]:
coll.find_one({})

#### Nested structures

In [15]:
dic1 = {
       'first_name': 'Max', 
       'last_name': 'Mustermann', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5}, 
      }

In [16]:
dic2 = {
       'first_name': 'Peter', 
       'last_name': 'Pan', 
       'age': 26,
       'gender' : 'm',
       'ages_of_children' : [10, 12], 
       'grades' : {'skiing' : 1, 'biking' : 5},
       'dic1' : dic1,
       'list' : [1, 'Ich bin ein String', 0.234, dic1]
      }

In [17]:
coll.insert_one(dic2)

In [18]:
coll.delete_many({})

#### Creation of a list of dictionaries in python

In [19]:
list_of_dics = [
                 {
                   'first_name': 'Peter', 
                   'last_name': 'Pan', 
                   'age': 26,
                   'gender' : 'm',
                   'ages_of_children' : [10, 12], 
                   'grades' : {'skiing' : 1, 'biking' : 5}, 
                  },
                  {
                   'first_name': 'Marie', 
                   'last_name': 'Curie', 
                   'age': 25,
                   'gender' : 'f',
                   'ages_of_children' : [13], 
                   'grades' : {'skiing' : 5, 'biking' : 2}, 
                  },
                  {
                   'first_name': 'Julius', 
                   'last_name': 'Cäsar', 
                   'age': 29,
                   'gender' : 'm',
                   'ages_of_children' : [7,7,7], 
                   'grades' : {'skiing' : 3, 'biking' : 4}, 
                  },
                  { 
                   'first_name': 'Hans', 
                   'last_name': 'Dampf', 
                   'age': 29,
                   'gender' : 'm',
                   'ages_of_children' : [0], 
                   'grades' : {'skiing' : 6, 'biking' : 6}, 
                  }
                ]

In [20]:
list_of_dics

[{'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}}]

Insert severeal documents at once in the mongodb collection

In [21]:
coll.insert_many(list_of_dics)

#### Count the documents within the collection

In [22]:
coll.count_documents({})

4

#### Create a mongo curser to find all documents within the collection

In [23]:
cursor = coll.find({})

In [24]:
import pprint

In [25]:
for dic in cursor:
    pprint.pprint(dic)

{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
 'age': 26,
 'ages_of_children': [10, 12],
 'first_name': 'Peter',
 'gender': 'm',
 'grades': {'biking': 5, 'skiing': 1},
 'last_name': 'Pan'}
{'_id': ObjectId('61c2ec37324ee292764b7fb7'),
 'age': 25,
 'ages_of_children': [13],
 'first_name': 'Marie',
 'gender': 'f',
 'grades': {'biking': 2, 'skiing': 5},
 'last_name': 'Curie'}
{'_id': ObjectId('61c2ec37324ee292764b7fb8'),
 'age': 29,
 'ages_of_children': [7, 7, 7],
 'first_name': 'Julius',
 'gender': 'm',
 'grades': {'biking': 4, 'skiing': 3},
 'last_name': 'Cäsar'}
{'_id': ObjectId('61c2ec37324ee292764b7fb9'),
 'age': 29,
 'ages_of_children': [0],
 'first_name': 'Hans',
 'gender': 'm',
 'grades': {'biking': 6, 'skiing': 6},
 'last_name': 'Dampf'}

#### Insert all documents into a python list

In [26]:
list_of_documents_new = list(coll.find({}))

In [27]:
list_of_documents_new

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb7'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb9'),
  'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}}]

#### Convert this list into a pandas DataFrame

In [28]:
import pandas as pd

In [29]:
df = pd.DataFrame(list_of_documents_new)

In [30]:
df

,_id,first_name,last_name,age,gender,ages_of_children,grades
0,61c2ec37324ee292764b7fb6,Peter,Pan,26,m,"[10, 12]","{'skiing': 1, 'biking': 5}"
1,61c2ec37324ee292764b7fb7,Marie,Curie,25,f,[13],"{'skiing': 5, 'biking': 2}"
2,61c2ec37324ee292764b7fb8,Julius,Cäsar,29,m,"[7, 7, 7]","{'skiing': 3, 'biking': 4}"
3,61c2ec37324ee292764b7fb9,Hans,Dampf,29,m,[0],"{'skiing': 6, 'biking': 6}"

In [33]:
df.to_dict("records")

[{'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}}]

In [32]:
del df['_id']

In [34]:
coll.insert_many(df.to_dict("records"))

#### Query specific documents within the collection by using a filter

In [35]:
# filter
query = {'last_name' : 'Curie'}
cursor = coll.find(query)

In [36]:
cursor.next()

{'_id': ObjectId('61c2ec37324ee292764b7fb7'),
 'first_name': 'Marie',
 'last_name': 'Curie',
 'age': 25,
 'gender': 'f',
 'ages_of_children': [13],
 'grades': {'skiing': 5, 'biking': 2}}

In [37]:
list(coll.find({'gender' : 'm'}))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb9'),
  'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbc'),
  'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbd'),
  'first_name': 'Hans',
  'last_name': 'Dampf',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [0],
  'grades': {'skiing': 6, 'biking': 6}}]

In [38]:
list(coll.find({'age' : {"$lt" : 27}}))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb7'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbb'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}}]

In [39]:
list(coll.find({'grades.skiing' : {"$lt" : 6}}))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb7'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbb'),
  'first_name': 'Marie',
  'last_name': 'Curie',
  'age': 25,
  'gender': 'f',
  'ages_of_children': [13],
  'grades': {'skiing': 5, 'biking': 2}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbc'),
  'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}}]

In [40]:
list(coll.find({'grades.skiing' : {"$lt" : 6}, 'age' : {"$gt" : 25} }))

[{'_id': ObjectId('61c2ec37324ee292764b7fb6'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ec37324ee292764b7fb8'),
  'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fba'),
  'first_name': 'Peter',
  'last_name': 'Pan',
  'age': 26,
  'gender': 'm',
  'ages_of_children': [10, 12],
  'grades': {'skiing': 1, 'biking': 5}},
 {'_id': ObjectId('61c2ed6d324ee292764b7fbc'),
  'first_name': 'Julius',
  'last_name': 'Cäsar',
  'age': 29,
  'gender': 'm',
  'ages_of_children': [7, 7, 7],
  'grades': {'skiing': 3, 'biking': 4}}]

#### Updating documents

In [43]:
coll.update_many({"first_name": "Peter"}, {'$set' : {'eye_color' : 'brown'}})

In [ ]:
list(coll.find({}))

In [ ]:
import datetime as dt
from dateutil.relativedelta import relativedelta
now = dt.datetime.now()
now

In [ ]:
for doc in coll.find({}):
    coll.update_one({'_id' : doc['_id']}, {'$set' : {'birthday' : now - relativedelta(years = doc['age'])}})

In [ ]:
df = pd.DataFrame(list(coll.find({})))

#### Removing documents

In [ ]:
df.shape

In [ ]:
coll.delete_many({'age' : 129})

In [ ]:
list(coll.find({}))

In [ ]:
coll.update_many({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : 2}})

In [ ]:
list(coll.find({'first_name' : 'Marie'}))

In [ ]:
coll.update_many({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : { "$each": [ 11, 14 ] } }})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

In [ ]:
coll.update_one({'first_name' : 'Marie'},{"$push" : {'ages_of_children' : 14}})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

In [ ]:
coll.update_one({'first_name' : 'Marie'},{"$pull" : {'ages_of_children' : 14}})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

In [ ]:
coll.update_one({'first_name' : 'Marie'},{"$addToSet" : {'ages_of_children' : 14}})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

In [ ]:
coll.update_one({'first_name' : 'Marie'},{"$addToSet" : {'ages_of_children' : 14}})

In [ ]:
coll.find_one({'first_name' : 'Marie'})

#### Getting a file using gridfs

In [ ]:
from gridfs import GridFS

In [ ]:
db_dldemo = client['dldemo']

In [ ]:
db_dldemo.list_collection_names()

In [ ]:
fs = GridFS(db_dldemo)

In [ ]:
filenames = fs.list()

In [ ]:
file_name = filenames[0]

In [ ]:
from io import BytesIO

In [ ]:
fh = fs.get_last_version(file_name)

In [ ]:
body = BytesIO(fh.read())
body.seek(0)

In [ ]:
df = pd.read_excel(body, header=None)

In [ ]:
df